body {
	/*background-color: #dedede;*/
	background-color: #ccc;
  	font-family: Verdana, sans-serif;
	margin: 0;
	font-size: 20px;
}

main {
	background-color: white;
	margin: auto;
	width: 800px;
	padding: 4em;
	line-height: 1.5em;
	color: #333;
	position: relative;
	text-align: justify;
}

p {
	line-height: 1.7em;
}

h1, h2, h3, h4, b {
	color: black;
}

h1:first{
	margin-top: 0;
}

h2{
    padding-top: 2em;
}

a, a:link, a:visited {
    color: #333;
}

a:link:hover {
    text-decoration: underline
}

a.noline:link{

}

.me-icon {
    	height: 1em;
    	width: auto;
	margin-bottom: -0.2em;
}

td, th {
vertical-align:top;
padding-right: 1em;
padding-bottom: 1em;
}

ul, ol {
    	padding-left: 0;
  	list-style-type: none;
}

li {

	padding-bottom: 1em;
}

 @media only screen and (max-width: 1000px) {
  body {
    background-color: white;
  }

  main {
	width: 100%;
    	box-sizing: border-box;
  }
}

.indent {
	display:inline-block;
	margin-left:2em;
}


body.dark {
	background-color: #222;
}
body.dark main {
	background-color: #222;
	color: #ddd;
}
body.dark a, body.dark a:link, body.dark a:visited {
    color:  #ddd;
}

body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark b, body.dark b a:link, body.dark b a:visited{
	color: white;
}


#toggleDark {
	text-decoration: none;
	position: absolute;
	top: 5.4em;
	right: 4em;
	cursor: pointer;
}

body #dark {display:inline;}
body.dark #dark {display:none;}
body #light {display:none;}
body.dark #light {display:inline;}

body.dark img.invert {filter: invert(1);}
