html, body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    font-family: 'Kumbh Sans', sans-serif;
    color: #333;
}

* {
    margin: 0;
    padding: 0;
}

a, a:link, a:visited {
    color: #333;
    text-decoration: none
}

a:link:hover {
    text-decoration: underline
}

a.noline:link{

	text-decoration: none;
}


li {
    padding: 1em;

}

ul, ol {
    padding-left: 1em;
}

main, #right-wrapper {
    background-color: #eee;
}

#left {
    z-index: 1;
}

#me{
	max-width: 600px;
}

@media only screen and (max-width: 1000px) {

    main {
        min-width: 450px;
        min-height: 100vh;
    }

    #left {
        position: relative;

    }


    #me > div {
        margin: 3em;
    }

    .container {
        padding: 3em;
    }

    #left .blur {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

    }


    #left .blur {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }


}

@media only screen and (min-width: 1001px) {


    main {
        min-width: 1000px;
        position: relative;
    }

    .main-panel {
        min-height: 100vh;
        display: inline-block;
        position: absolute;
        top: 0;
    }

    #left {
        width: 40%;
        left: 0;
        position: fixed;
        min-width: 450px;
    }

    #right {
        width: 60%;
        right: 0;
        min-width: 550px;
    }


    #left .blur {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }

    #me {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    / / text-align: center;
    }

    .container {
        padding: 5em 5em;
        max-width: calc(1000px - 10em);
    }

    #me > div {
        width: 70%;
        min-width: 400px;
        max-width: 600px;
    }

    #left .blur {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }

    #right-wrapper {
        min-height: 100vh;
    }

    .tags {
        max-width: 400px;
    }

}

#loadingscreen {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #eee;
    z-index: 100;
    width: 100vw;
    height: 100vh;
}

.hidden {
    display: none;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -20px;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

#right {
    background-color: #eee;

}

#left {
    overflow: hidden;
}


#left .blur {
    background-image: url('bg-scaled.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    -webkit-filter: blur(20px);
}


#right-wrapper {
    margin-bottom: -2em;
}

#footer {
    height: 2em;
    text-align: center;
}


#me .profile-picture {
    display: inline-block;
    width: 150px;
    height: 150px;
}

#me a {
    color: #eee;
    white-space: nowrap;
}

h1 {
    margin-top: 1em;
    color: white;
    font-size: 2.5rem;
}

h2 {
    color: black;
    margin-top: 1em;
}

h3 {
    color: #eee;
    margin-bottom: .5em;
}

.me-icon {
    height: 1em;
    width: auto;
}

.gallery-image{
	width: 100%;
	transition: transform .2s;
}
.gallery-image:hover {
  transform: scale(1.05);
}
.experience {
    width: 100%;
    margin-left: -1em;
    margin-top: -1em;
    transition: all .2s ease-in;


}

.experience .experience-description{
	width: 100%;
}


.experience td {
    padding: 1em;
    padding-right: 0;
    padding-bottom: 0;
    vertical-align: top;
}

.experience tr:last-child td {
    padding-bottom: 1em;
}

.experience.small-experience tr:last-child td {
    padding-bottom: .3em;
}

.experience td:last-child {
    padding-right: 1em;
}

.experience td:first-child {
    white-space: nowrap;
}

.experience img {
    width: 75px;
    height: auto;
}


.experience:hover, .experience.active {
    margin-top: 0;
    margin-bottom: 1em;
    background-color: #ddd;
    text-decoration: none !important;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}


.experience .extra-info {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    color: #555
}

.experience:hover .extra-info, .experience.active .extra-info {
    max-height: 6em;
    visibility: visible;
    opacity: 1;
    padding-top: 1em;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;

}

.experience.small-experience {
    margin-left: -.3em;
    margin-top: -.3em;
}

.experience.small-experience:hover {
    margin-top: 0;
    margin-bottom: .3em;
}

.experience.small-experience td {
    padding: .3em;
}


.experience.small-experience img {
    width: 1em;
    height: auto;
}

.experience.experience-project img {
    width: 1em;
    height: auto;
}


.page-nav {
    float: right;
}

#pages {
    /*position: relative;*/
    /*overflow: hidden;*/
}

.page {
    /*position: relative;*/
    top: 0;
}

a.tag {
    display: inline-block;
    background-color: #777;
    color: white;
    font-size: 1.1rem;
    padding: .4em;
    padding-bottom: .2em;
    border-radius: 5px;
    font-weight: bolder;
    margin-top: .25em;
}

a.ghost-button {
    display: inline-block;
    color: white;
    font-size: 1.1rem;
    padding: .4em;
    padding-bottom: .2em;
    border-radius: 5px;
    border: 2px solid white;
    font-weight: bolder;
    margin-top: .25em;
    transition: all .3s;

}

a.ghost-button:hover {
    text-decoration: none;
    background-color: white;
    color: #333 !important;
    transition: all .3s;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #eee;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    min-width: 280px;
    width: 30%;
    max-width: 460px; /* Could be more or less, depending on screen size */
    border-radius: 5px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cv-download-btn{
    font-weight: bold;
    margin: 1em 2em;
    display: inline-block;
    white-space: nowrap;

}
.cv-download-btn:hover{
    text-decoration: none!important;
}

.cv-download-btn:hover span{
    text-decoration: underline;
}
