body {
	background-color: #dedede;
  	font-family: Verdana, sans-serif;
	font-size: 21px;
	margin: 0;
}

main {
	background-color: white;
	margin: auto;
	width: 900px;
	padding: 4em;
	line-height: 1.7em;
	color: #333;
}


a, a:link, a:visited {
    color: #333;
}

a:link:hover {
    text-decoration: underline
}

a.noline:link{

}

.me-icon {
    	height: 1em;
    	width: auto;
	margin-bottom: -0.2em;
}

td, th {
vertical-align:top;
padding-right: 1em;
padding-bottom: 1em;
}

ul, ol {
    	padding-left: 0;
  	list-style-type: none;
}

li {

	padding-bottom: 1em;
}

 @media only screen and (max-width: 1150px) {
  body {
    background-color: white;
  }

  main {
	width: 100%;
  }
}
